// Modularization
// colors
$primary-color: #1e3a8a;
$secondary-color: #facc15;
$background-color: #f9fafb;
$text-color: #333;

// font
$font-stack: 'Arial', sans-serif;

//spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;